/*
  Author: DevKilla
  Buy Code From: jinkteam.com
  Contact: @devkilla (Telegram)
*/

@keyframes slide-up {
    0% { transform: translateY(100px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .animate-slide-up {
    animation: slide-up 0.4s ease-out;
  }
  .animate-fade-in {
    animation: fade-in 0.4s ease-out;
  }
  